<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="item-container">
        <div class="item-wrapper">
            <div class="flex row bb-2 align-bottom">
                <h1><%= category.name %></h1>
                <p class="mb-4"> <a href="/">Inventory</a> > <a href="../category/<%= category._id %>"><%= category.name %></a></p>
            </div>
            <p class="italic mb-2"><%= category.description %></p>
            <% items.forEach(function(item) {%>
                <div class="item-row">
                    <p><%= item.name %></p>
                    <p><%= item.stock %></p>
                    <p>£<%= item.price %></p>
                    <div class="flex row justify-flex-end">
                        <p class="mr-2 small-link"><a href="../item/<%= item._id %>">View</a></p>
                        <p class="mr-2 small-link"><a href="../item/<%= item._id %>/update">Edit</a></p>
                        <div id="delete-container">
                          <p class="mr-2 small-link delete-button"><a>Delete</a></p>
                          <p class="mr-2 delete-button-opaque hidden"><a href="../item/<%= item._id %>/delete" class="white">Delete</a></p>  
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
  </body>
</html>

<script>
  const deleteButtons = Array.from(document.getElementsByClassName('delete-button'));

  deleteButtons.forEach(button => {
    button.addEventListener('click', (e) => {
      let target = e.target;
      let targetContainer = target.parentNode.parentNode;
      let visibleDeleteButton = targetContainer.firstElementChild;
      let hiddenDeleteButton = targetContainer.lastElementChild;
      visibleDeleteButton.classList.toggle('hidden');
      hiddenDeleteButton.classList.toggle('hidden');
    })
  })
</script>